
Created on : Oct 31, 2018, 8:37:22 PM
    Author     : Schiler Pascal
*/
/* Add a black background color to the top navigation */
body{
 {
    box-sizing: border-box;
    font-family: Arial, Helvetica,sans-serif;
}
.header {
    background-color: white;
    color: black;
    padding: 1px;
}
.footer {
    background-color: white;
    color: black;
    padding: 1px;
	align: center;
}
.clearfix::after {
    content: "";
    clear: both;
}
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;}

.topnav {
    background-color: black;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: red;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: orange;
    color: black;}
/* Add a color to the active/current link */
.topnav a.active {
    background-color:green ;
    color: red;}
	
 /*Right-aligned section inside the top navigation */
.topnav-right{
   float: right;
             } 


.images{
    width: 19%;
  
  float: left;
   
 margin-left: auto;
    
margin-right: auto;
    
padding: 2px;
}

.images img{
    height: 350px;
    
width: 350px;
   
 max-width: 100%;
    
object-fit: cover;
 
   object-position: center center;

}

*Divide text*/
div {
    font-family: verdana;
}
/* Text for the page*/
    h1 {text-align: center  ;color:green; font-family:verdana;}        
    h2 {text-align: left; color:red; font-family: verdana; font-size: 14pt}
              
    p{ font-family: Arial;  font-size: 12pt;}
          p.one {text-align:right; color: black}
      
/* Footer on bottom of the page */
.footer {
  height: 50px;
}